# SuperAI Season 4 - Level 2 Hackathon - Forest Type Double Classifier

## Explore Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('./datasets/train.csv' , index_col='id')
test_df = pd.read_csv('./datasets/test.csv' , index_col='id')

In [3]:
train_df

,b1,b11,b12,b2,b3,b4,b5,b6,b7,b8,b8_a,b9,nforest_type
id,,,,,,,,,,,,,
2002,293,1927,1038,278,475,453,987,1773,2184,1900,2343,3039,MDF
3212,197,1598,697,201,347,228,682,1982,2449,2254,2685,2690,DDF
13312,929,1975,1031,982,1020,856,1220,2051,2421,2392,2671,2683,MDF
17020,132,1560,689,189,408,175,609,2117,2907,3024,3005,2955,MDF
5967,241,1944,1131,362,538,487,918,1549,1844,1702,2077,2043,MDF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9185,374,1940,1054,382,565,498,977,1678,1929,2109,2291,2100,DDF
13977,1983,3602,2720,1622,1782,1766,2314,3488,3900,3924,4097,6053,DDF
755,940,2007,1148,975,1080,968,1252,1780,1983,1942,2247,2170,DDF
1616,1174,2312,1190,1112,1126,889,1310,2511,3085,3050,3396,3380,MDF
15634,193,2091,1084,274,502,452,881,1953,2427,2830,2863,2586,MDF

In [4]:
test_df

        b1   b11   b12   b2   b3   b4    b5    b6    b7    b8  b8_a    b9
id
13467   69  1425   693  312  524  376   847  1821  2356  2378  2611  2595
12719  242  1514   691  343  522  324   718  1730  2178  2472  2359  2582
1054   218  2354  1118  292  596  410   965  2586  3226  3371  3645  3149
13747  350  2013  1134  306  572  475   982  1754  1935  2275  2290  2345
9453   185  1450   712  293  440  384   673  1487  1965  2213  2200  2193
...    ...   ...   ...  ...  ...  ...   ...   ...   ...   ...   ...   ...
115    447  1686   811  425  661  441   958  2432  2891  2966  3126  3312
10654  252  2694  1503  470  778  753  1294  2334  2656  2679  3212  2856
5718   233  1486   618  249  409  260   699  2188  2831  3030  3086  3087
13054  221  1840   774  245  441  231   703  2491  3453  3284  3762  3161
6539     2  1431   629  140  373  254   596  1740  2436  2113  2645  2630

[4000 rows x 12 columns]

## NON-DEF (MDF / DDF) / DEF

In [5]:
DEF_df = train_df[train_df['nforest_type'] == 'DEF']
NON_DEF_df = train_df[train_df['nforest_type'] != 'DEF']

In [6]:
NON_DEF_df.to_csv('./datasets/MDF_DDF.csv')

In [7]:
NON_DEF_df['nforest_type'] = 'NON_DEF'
DEF_df['nforest_type'] = 'DEF'

C:\Users\teehe\AppData\Local\Temp\ipykernel_17404\3381345259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NON_DEF_df['nforest_type'] = 'NON_DEF'
C:\Users\teehe\AppData\Local\Temp\ipykernel_17404\3381345259.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DEF_df['nforest_type'] = 'DEF'

In [8]:
NON_DEF_df

,b1,b11,b12,b2,b3,b4,b5,b6,b7,b8,b8_a,b9,nforest_type
id,,,,,,,,,,,,,
2002,293,1927,1038,278,475,453,987,1773,2184,1900,2343,3039,NON_DEF
3212,197,1598,697,201,347,228,682,1982,2449,2254,2685,2690,NON_DEF
13312,929,1975,1031,982,1020,856,1220,2051,2421,2392,2671,2683,NON_DEF
17020,132,1560,689,189,408,175,609,2117,2907,3024,3005,2955,NON_DEF
5967,241,1944,1131,362,538,487,918,1549,1844,1702,2077,2043,NON_DEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9185,374,1940,1054,382,565,498,977,1678,1929,2109,2291,2100,NON_DEF
13977,1983,3602,2720,1622,1782,1766,2314,3488,3900,3924,4097,6053,NON_DEF
755,940,2007,1148,975,1080,968,1252,1780,1983,1942,2247,2170,NON_DEF
1616,1174,2312,1190,1112,1126,889,1310,2511,3085,3050,3396,3380,NON_DEF
15634,193,2091,1084,274,502,452,881,1953,2427,2830,2863,2586,NON_DEF

In [9]:
DEF_df

,b1,b11,b12,b2,b3,b4,b5,b6,b7,b8,b8_a,b9,nforest_type
id,,,,,,,,,,,,,
14932,701,1776,895,689,905,684,1187,2504,2836,2839,3172,3103,DEF
14572,156,1121,547,264,472,362,699,1673,1967,2182,2260,2277,DEF
7504,536,1591,777,686,760,624,1049,2152,2600,2665,2964,2777,DEF
10489,1551,1519,718,1730,1764,1514,1719,2267,2554,2598,2743,2743,DEF
7995,313,1696,864,366,568,411,849,1965,2387,2439,2827,2759,DEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762,182,1336,574,188,296,145,571,2000,2473,2243,2884,2844,DEF
7804,1,1753,820,106,431,301,840,2091,2472,2762,2914,2440,DEF
5566,281,1837,835,342,718,285,975,2801,3556,3637,3801,3148,DEF
9311,1656,1955,965,1792,1972,1786,2013,2426,2637,2570,2839,2825,DEF
16941,594,1480,692,620,694,566,847,1833,2489,2779,2684,2799,DEF

In [10]:
NON_DEF_df.to_csv('./datasets/NON_DEF.csv')
DEF_df.to_csv('./datasets/DEF.csv')

In [11]:
DEF_NONDEF_df = pd.concat([NON_DEF_df , DEF_df])
DEF_NONDEF_df.sort_index().to_csv('./datasets/DEF_NONDEF.csv')

## Double Classifier

In [12]:
DEF_NONDEF_df = pd.read_csv('./datasets/DEF_NONDEF.csv' , index_col='id')
test_df = pd.read_csv('./datasets/test.csv', index_col = 'id')

In [13]:
DEF_NONDEF_df

,b1,b11,b12,b2,b3,b4,b5,b6,b7,b8,b8_a,b9,nforest_type
id,,,,,,,,,,,,,
0,289,1488,771,295,418,300,666,1579,1896,1937,2143,2368,NON_DEF
3,738,2281,1240,764,912,841,1254,2048,2376,2299,2792,2686,NON_DEF
4,884,2256,1491,807,856,824,1127,1590,1834,1692,2021,2074,NON_DEF
6,380,2232,1276,465,753,666,1286,2387,2723,2651,3045,3084,NON_DEF
8,278,1494,694,261,401,303,671,1852,2162,2284,2463,2305,NON_DEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17046,196,1916,1044,354,626,494,959,1789,2161,2192,2522,2530,NON_DEF
17048,249,1304,585,197,245,179,579,1761,2176,1847,2546,2776,DEF
17049,1055,1971,1020,1036,1068,850,1261,2140,2516,2434,2773,2862,NON_DEF
17050,367,1838,851,371,620,346,917,2635,3141,3252,3430,3458,NON_DEF
17051,308,2188,1169,429,628,459,947,2033,2541,2890,3011,2915,NON_DEF

In [14]:
test_df

        b1   b11   b12   b2   b3   b4    b5    b6    b7    b8  b8_a    b9
id
13467   69  1425   693  312  524  376   847  1821  2356  2378  2611  2595
12719  242  1514   691  343  522  324   718  1730  2178  2472  2359  2582
1054   218  2354  1118  292  596  410   965  2586  3226  3371  3645  3149
13747  350  2013  1134  306  572  475   982  1754  1935  2275  2290  2345
9453   185  1450   712  293  440  384   673  1487  1965  2213  2200  2193
...    ...   ...   ...  ...  ...  ...   ...   ...   ...   ...   ...   ...
115    447  1686   811  425  661  441   958  2432  2891  2966  3126  3312
10654  252  2694  1503  470  778  753  1294  2334  2656  2679  3212  2856
5718   233  1486   618  249  409  260   699  2188  2831  3030  3086  3087
13054  221  1840   774  245  441  231   703  2491  3453  3284  3762  3161
6539     2  1431   629  140  373  254   596  1740  2436  2113  2645  2630

[4000 rows x 12 columns]

In [15]:
def add_features(row) :

    row['NDVI'] = (row['b8'] - row['b4']) / (row['b8'] + row['b4'])
    row['EVI'] = 2.5 * ((row['b8'] - row['b4']) / (row['b8'] + 6 * row['b4'] - 7.5 * row['b2'] + 1.01))
    row['NDWI '] = (row['b3'] - row['b8']) / (row['b3'] + row['b8'])
    row['SAVI '] = (row['b8'] - row['b4']) * (1 + 0.5) / (row['b8'] + row['b4'] + 0.5)
    row['MSAVI'] = (2 * row['b8'] + 1 - ( (2 * row['b8'] + 1) ** 2 - 8 * (row['b8'] - row['b4'])) ** (1 / 2)) / 2
    row['GNDVI '] = (row['b8'] - row['b3']) / (row['b8'] + row['b3'])
    row['RENDVI '] = (row['b8'] - row['b5']) / (row['b8'] + row['b5'])
    row['NDMI '] = (row['b8'] - row['b11']) / (row['b8'] + row['b11'])
    row['GRVI'] = (row['b3'] - row['b4']) / (row['b3'] + row['b4'])
    row['TVI'] = ( (row['b8'] - row['b4']) / (row['b8'] + row['b4'] + 0.5) ) ** (1 / 2)
    row['MCARI'] = ((row['b5'] - row['b4']) - 0.2 * (row['b5'] - row['b3'])) / (row['b5'] / row['b4'])
    row['BSI'] =  ((row['b11'] + row['b4']) - (row['b8'] + row['b2'])) / ((row['b11'] + row['b4']) + (row['b8'] + row['b2']))
    row['NBR'] = (row['b8'] - row['b12']) / (row['b8'] + row['b12'])
    row['MSI'] = row['b11'] / row['b8']

    return row

In [16]:
def drop_features(df) :

    return df.drop(columns = ['b1'])

In [17]:
DEF_NONDEF_df = DEF_NONDEF_df.apply(add_features , axis = 1)
test_df = test_df.apply(add_features , axis = 1)

In [18]:
DEF_NONDEF_df = drop_features(DEF_NONDEF_df)
test_df = drop_features(test_df)

In [19]:
from autogluon.tabular import TabularPredictor

In [20]:
label = 'nforest_type'

In [21]:
predictor = TabularPredictor(label = label).fit(DEF_NONDEF_df)

No path specified. Models will be saved in: "AutogluonModels\ag-20240603_190850"
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240603_190850"
=================== System Info ===================
AutoGluon Version:  1.1.0
Python Version:     3.11.7
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22631
CPU Count:          16
Memory Avail:       1.76 GB / 15.28 GB (11.5%)
Disk Space Avail:   611.97 GB / 952.03 GB (64.3%)
===================================================
Train Data Rows:    13053
Train Data Columns: 25
Label Column:       nforest_type
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  ['NON_DEF', 'DEF']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = NON_DEF, class 0 = DEF
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive (NON_DEF) vs negative (DEF) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    1797.58 MB
	Train Data (Original)  Memory Usage: 2.49 MB (0.1% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 14 | ['NDVI', 'EVI', 'NDWI ', 'SAVI ', 'MSAVI', ...]
		('int', [])   : 11 | ['b11', 'b12', 'b2', 'b3', 'b4', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 14 | ['NDVI', 'EVI', 'NDWI ', 'SAVI ', 'MSAVI', ...]
		('int', [])   : 11 | ['b11', 'b12', 'b2', 'b3', 'b4', ...]
	0.1s = Fit runtime
	25 features in original data used to generate 25 features in processed data.
	Train Data (Processed) Memory Usage: 2.49 MB (0.1% of available memory)
Data preprocessing and feature engineering runtime = 0.08s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.1, Train Rows: 11747, Val Rows: 1306
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
c:\anaconda\Lib\site-packages\joblib\externals\loky\backend\context.py:110: UserWarning: Could not find the number of physical cores for the following reason:
[WinError 2] The system cannot find the file specified
Returning the number of logical cores instead. You can silence this warning by setting LOKY_MAX_CPU_COUNT to the number of cores you want to use.
  warnings.warn(
  File "c:\anaconda\Lib\site-packages\joblib\externals\loky\backend\context.py", line 199, in _count_physical_cores
    cpu_info = subprocess.run(
               ^^^^^^^^^^^^^^^
  File "c:\anaconda\Lib\subprocess.py", line 548, in run
    with Popen(*popenargs, **kwargs) as process:
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\anaconda\Lib\subprocess.py", line 1026, in __init__
    self._execute_child(args, executable, preexec_fn, close_fds,
  File "c:\anaconda\Lib\subprocess.py", line 1538, in _execute_child
    hp, ht, pid, tid = _winapi.CreateProcess(executable, args,
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
	0.8714	 = Validation score   (accuracy)
	2.43s	 = Training   runtime
	0.1s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.8714	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: LightGBMXT ...

[1000]	valid_set's binary_error: 0.0987749

	0.902	 = Validation score   (accuracy)
	2.09s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBM ...
	0.8943	 = Validation score   (accuracy)
	0.84s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.8744	 = Validation score   (accuracy)
	1.85s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.8706	 = Validation score   (accuracy)
	2.28s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: CatBoost ...
	0.8959	 = Validation score   (accuracy)
	5.61s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.866	 = Validation score   (accuracy)
	0.67s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.866	 = Validation score   (accuracy)
	0.66s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	0.9127	 = Validation score   (accuracy)
	10.16s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: XGBoost ...
	0.8982	 = Validation score   (accuracy)
	1.08s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.9058	 = Validation score   (accuracy)
	10.67s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8851	 = Validation score   (accuracy)
	1.85s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'NeuralNetFastAI': 0.5, 'LightGBMXT': 0.214, 'KNeighborsDist': 0.143, 'NeuralNetTorch': 0.143}
	0.9173	 = Validation score   (accuracy)
	0.1s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 41.4s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240603_190850")

In [22]:
prediction = predictor.predict(test_df)

In [23]:
prediction.value_counts()

nforest_type
NON_DEF    3263
DEF         737
Name: count, dtype: int64

In [24]:
prediction = prediction.sort_index()

In [25]:
prediction

id
1        NON_DEF
2        NON_DEF
5        NON_DEF
7        NON_DEF
12           DEF
          ...
17039    NON_DEF
17042    NON_DEF
17043    NON_DEF
17047    NON_DEF
17052    NON_DEF
Name: nforest_type, Length: 4000, dtype: object

In [26]:
prediction_DEF_ONLY = prediction[prediction == 'DEF']
prediction_DEF_ONLY

id
12       DEF
29       DEF
50       DEF
51       DEF
53       DEF
        ...
16986    DEF
16990    DEF
17013    DEF
17024    DEF
17026    DEF
Name: nforest_type, Length: 737, dtype: object

In [27]:
test_df = test_df.sort_index()

In [28]:
test_df = test_df[prediction == 'NON_DEF']

In [29]:
MDF_DDF_df = pd.read_csv('./datasets/MDF_DDF.csv' , index_col='id')
MDF_DDF_df

,b1,b11,b12,b2,b3,b4,b5,b6,b7,b8,b8_a,b9,nforest_type
id,,,,,,,,,,,,,
2002,293,1927,1038,278,475,453,987,1773,2184,1900,2343,3039,MDF
3212,197,1598,697,201,347,228,682,1982,2449,2254,2685,2690,DDF
13312,929,1975,1031,982,1020,856,1220,2051,2421,2392,2671,2683,MDF
17020,132,1560,689,189,408,175,609,2117,2907,3024,3005,2955,MDF
5967,241,1944,1131,362,538,487,918,1549,1844,1702,2077,2043,MDF
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9185,374,1940,1054,382,565,498,977,1678,1929,2109,2291,2100,DDF
13977,1983,3602,2720,1622,1782,1766,2314,3488,3900,3924,4097,6053,DDF
755,940,2007,1148,975,1080,968,1252,1780,1983,1942,2247,2170,DDF
1616,1174,2312,1190,1112,1126,889,1310,2511,3085,3050,3396,3380,MDF
15634,193,2091,1084,274,502,452,881,1953,2427,2830,2863,2586,MDF

In [30]:
MDF_DDF_df = MDF_DDF_df.apply(add_features , axis = 1)
MDF_DDF_df = drop_features(MDF_DDF_df)
MDF_DDF_df

,b11,b12,b2,b3,b4,b5,b6,b7,b8,b8_a,...,MSAVI,GNDVI,RENDVI,NDMI,GRVI,TVI,MCARI,BSI,NBR,MSI
id,,,,,,,,,,,,,,,,,,,,,
2002,1927,1038,278,475,453,987,1773,2184,1900,2343,...,0.761531,0.600000,0.316245,-0.007055,0.023707,0.784110,198.089970,0.044318,0.293397,1.014211
3212,1598,697,201,347,228,682,1982,2449,2254,2685,...,0.898826,0.733180,0.535422,0.170301,0.206957,0.903390,129.378299,-0.146928,0.527618,0.708962
13312,1975,1031,982,1020,856,1220,2051,2421,2392,2671,...,0.642092,0.402110,0.324474,0.095489,0.087420,0.687629,227.331148,-0.087510,0.397604,0.825669
17020,1560,689,189,408,175,609,2117,2907,3024,3005,...,0.942121,0.762238,0.664740,0.319372,0.399657,0.943637,113.160920,-0.298707,0.628872,0.515873
5967,1944,1131,362,538,487,918,1549,1844,1702,2077,...,0.713806,0.519643,0.299237,-0.066374,0.049756,0.744930,188.327887,0.081646,0.201553,1.142186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9185,1940,1054,382,565,498,977,1678,1929,2109,2291,...,0.763826,0.577412,0.366818,0.041739,0.063029,0.786024,202.156397,-0.010753,0.333544,0.919867
13977,3602,2720,1622,1782,1766,2314,3488,3900,3924,4097,...,0.549917,0.375394,0.258096,0.042785,0.004510,0.615815,337.020570,-0.016309,0.181216,0.917941
755,2007,1148,975,1080,968,1252,1780,1983,1942,2247,...,0.501480,0.285242,0.216030,-0.016460,0.054688,0.578490,192.981470,0.009844,0.256958,1.033471
1616,2312,1190,1112,1126,889,1310,2511,3085,3050,3396,...,0.708491,0.460728,0.399083,0.137635,0.117618,0.740639,260.728092,-0.130517,0.438679,0.758033
15634,2091,1084,274,502,452,881,1953,2427,2830,2863,...,0.840259,0.698679,0.525195,0.150173,0.052411,0.851145,181.210443,-0.099345,0.446091,0.738869

In [31]:
predictor_for_MDF_DDF = TabularPredictor(label = label).fit(MDF_DDF_df)

No path specified. Models will be saved in: "AutogluonModels\ag-20240603_190959"
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240603_190959"
=================== System Info ===================
AutoGluon Version:  1.1.0
Python Version:     3.11.7
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22631
CPU Count:          16
Memory Avail:       1.21 GB / 15.28 GB (7.9%)
Disk Space Avail:   611.70 GB / 952.03 GB (64.3%)
===================================================
Train Data Rows:    10468
Train Data Columns: 25
Label Column:       nforest_type
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  ['MDF', 'DDF']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = MDF, class 0 = DDF
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive (MDF) vs negative (DDF) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    1245.09 MB
	Train Data (Original)  Memory Usage: 2.00 MB (0.2% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 14 | ['NDVI', 'EVI', 'NDWI ', 'SAVI ', 'MSAVI', ...]
		('int', [])   : 11 | ['b11', 'b12', 'b2', 'b3', 'b4', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 14 | ['NDVI', 'EVI', 'NDWI ', 'SAVI ', 'MSAVI', ...]
		('int', [])   : 11 | ['b11', 'b12', 'b2', 'b3', 'b4', ...]
	0.1s = Fit runtime
	25 features in original data used to generate 25 features in processed data.
	Train Data (Processed) Memory Usage: 2.00 MB (0.2% of available memory)
Data preprocessing and feature engineering runtime = 0.12s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.1, Train Rows: 9421, Val Rows: 1047
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.7154	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.7154	 = Validation score   (accuracy)
	0.01s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.7316	 = Validation score   (accuracy)
	0.47s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: LightGBM ...
	0.7421	 = Validation score   (accuracy)
	0.58s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.724	 = Validation score   (accuracy)
	1.35s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.7393	 = Validation score   (accuracy)
	1.91s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: CatBoost ...
	0.744	 = Validation score   (accuracy)
	3.03s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.7173	 = Validation score   (accuracy)
	0.75s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.7182	 = Validation score   (accuracy)
	0.68s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	0.7555	 = Validation score   (accuracy)
	6.55s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: XGBoost ...
	0.7373	 = Validation score   (accuracy)
	0.74s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.7641	 = Validation score   (accuracy)
	21.44s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.7383	 = Validation score   (accuracy)
	1.34s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'NeuralNetTorch': 0.8, 'NeuralNetFastAI': 0.15, 'LightGBMXT': 0.05}
	0.7679	 = Validation score   (accuracy)
	0.09s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 39.96s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240603_190959")

In [32]:
prediction_MDF_DDF = predictor_for_MDF_DDF.predict(test_df)

In [33]:
prediction_MDF_DDF

id
1        DDF
2        DDF
5        MDF
7        DDF
19       DDF
        ...
17039    DDF
17042    DDF
17043    DDF
17047    MDF
17052    DDF
Name: nforest_type, Length: 3263, dtype: object

In [34]:
prediction_MDF_DDF.value_counts()

nforest_type
MDF    1732
DDF    1531
Name: count, dtype: int64

In [37]:
submission_df = pd.concat([prediction_DEF_ONLY , prediction_MDF_DDF])
submission_df = submission_df.sort_index()
submission_df

id
1        DDF
2        DDF
5        MDF
7        DDF
12       DEF
        ...
17039    DDF
17042    DDF
17043    DDF
17047    MDF
17052    DDF
Name: nforest_type, Length: 4000, dtype: object

In [38]:
submission_df.value_counts()

nforest_type
MDF    1732
DDF    1531
DEF     737
Name: count, dtype: int64

In [39]:
submission_path = './submissions'
submission_df.to_csv(f'{submission_path}/submission_over_features_double_classifier.csv')