# SuperAI Season 4 - Level Individual Hackathon - Temperature Prediction <br>

## Explore Data

In [222]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [223]:
train_df = pd.read_csv('./datasets/train.csv')
test_df = pd.read_csv('./datasets/test.csv' , index_col='id')

In [224]:
train_df

,mac,station_name,tambon_code,tambon_namt,amphur_code,amphur_namt,province_code,province_namt,latitude,longitude,time,humid,light,pm10,pm2.5,rainfall,wind_direct,wind_speed,temp
0,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-07-20 15:00:00+07:00,70.6,59.0,NaN,NaN,0.0,45.0,4.3,32.6
1,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-05-16 09:00:00+07:00,62.3,76.0,NaN,NaN,0.0,45.0,1.9,37.9
2,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-06-26 19:00:00+07:00,90.3,0.0,NaN,NaN,0.0,135.0,3.2,26.4
3,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-07-16 04:00:00+07:00,91.7,0.0,NaN,NaN,0.0,157.5,0.0,25.6
4,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-05-30 08:00:00+07:00,59.1,71.0,NaN,NaN,0.0,180.0,2.3,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13630,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-06-14 01:00:00+07:00,97.9,0.0,NaN,NaN,4.2,0.0,0.0,23.5
13631,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-05-03 02:00:00+07:00,80.6,0.0,NaN,NaN,0.0,135.0,2.9,19.3
13632,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-05-19 06:00:00+07:00,87.9,37.0,NaN,NaN,0.0,45.0,3.0,24.5
13633,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-06-15 02:00:00+07:00,89.9,0.0,NaN,NaN,0.0,315.0,0.0,27.3
13634,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-06-05 18:00:00+07:00,66.3,43.0,NaN,NaN,0.0,45.0,0.8,33.5

In [225]:
test_df

,mac,station_name,tambon_code,tambon_namt,amphur_code,amphur_namt,province_code,province_namt,latitude,longitude,time,humid,light,pm10,pm2.5,rainfall,wind_direct,wind_speed
id,,,,,,,,,,,,,,,,,,
1,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-05-23 04:00:00+07:00,88.9,1.0,NaN,NaN,0.0,180.0,2.3
2,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-05-12 16:00:00+07:00,85.0,40.0,NaN,NaN,0.3,135.0,1.5
3,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-06-20 03:00:00+07:00,88.9,7.0,NaN,NaN,0.0,157.5,0.0
4,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-07-13 13:00:00+07:00,81.9,66.0,NaN,NaN,0.0,135.0,0.2
5,3C71BF18EA64,บ้านนา_2,300903,กำปัง,3009,โนนไทย,30,นครราชสีมา,15.112831,102.052114,2022-07-05 09:00:00+07:00,64.9,71.0,NaN,NaN,0.0,225.0,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3409,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-06-05 03:00:00+07:00,87.0,0.0,NaN,NaN,0.0,315.0,0.0
3410,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-05-26 09:00:00+07:00,71.7,81.0,NaN,NaN,0.0,180.0,3.1
3411,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-05-21 22:00:00+07:00,86.5,2.0,NaN,NaN,0.0,0.0,0.6
3412,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-07-21 01:00:00+07:00,96.5,0.0,NaN,NaN,0.0,0.0,0.0
3413,3C71BF18CEA4,โรงเรียนหนองสูงสามัคคีวิทยา_2,490706,หนองสูงเหนือ,4907,หนองสูง,49,มุกดาหาร,16.494229,104.350891,2022-06-20 11:00:00+07:00,63.8,87.0,1.0,0.0,0.0,0.0,0.4

In [226]:
for col in train_df.columns :
    
    print(train_df[col].value_counts())

mac
3C71BF18CEA4    1744
3C71BF17CDBC    1732
30AEA4F7AE44    1727
807D3AF57920    1724
3C71BF1B1E28    1715
3C71BF18EA64    1697
3C71BF15DB04    1696
3C71BF164F90    1600
Name: count, dtype: int64
station_name
โรงเรียนหนองสูงสามัคคีวิทยา_2           1744
โรงเรียนบ้านนา                          1732
โรงเรียนสามเสนนอก(ประชาราษฎร์อนุกูล)    1727
บ้านนาสะแบง_2                           1724
โรงเรียนสรรพวิทยาคม                     1715
บ้านนา_2                                1697
บ้านสำโรงเกียรติ_2                      1696
โรงเรียนท่าข้ามวิทยา                    1600
Name: count, dtype: int64
tambon_code
490706    1744
550404    1732
102601    1727
380704    1724
630601    1715
300903    1697
330802    1696
860206    1600
Name: count, dtype: int64
tambon_namt
หนองสูงเหนือ    1744
สถาน            1732
ดินแดง          1727
นาสะแบง         1724
แม่สอด          1715
กำปัง           1697
บักดอง          1696
ท่าข้าม         1600
Name: count, dtype: int64
amphur_code
4907    1744
5504    1732
1026    1727
3807    1724
6306    1715
3009    1697
3308    1696
8602    1600
Name: count, dtype: int64
amphur_namt
หนองสูง    1744
นาน้อย     1732
ดินแดง     1727
ศรีวิไล    1724
แม่สอด     1715
โนนไทย     1697
ขุนหาญ     1696
ท่าแซะ     1600
Name: count, dtype: int64
province_code
49    1744
55    1732
10    1727
38    1724
63    1715
30    1697
33    1696
86    1600
Name: count, dtype: int64
province_namt
มุกดาหาร         1744
น่าน             1732
กรุงเทพมหานคร    1727
บึงกาฬ           1724
ตาก              1715
นครราชสีมา       1697
ศรีสะเกษ         1696
ชุมพร            1600
Name: count, dtype: int64
latitude
16.494229    1744
18.241106    1732
13.777972    1727
18.142499    1724
16.712990    1715
15.112831    1697
14.533026    1696
10.579849    1600
Name: count, dtype: int64
longitude
104.350891    1744
100.690577    1732
100.569662    1727
103.806521    1724
98.573417     1715
102.052114    1697
104.495172    1696
99.113146     1600
Name: count, dtype: int64
time
2022-07-28 09:00:00+07:00    8
2022-05-03 00:00:00+07:00    8
2022-05-04 03:00:00+07:00    8
2022-05-14 20:00:00+07:00    8
2022-07-10 08:00:00+07:00    8
                            ..
2022-07-27 09:00:00+07:00    1
2022-07-31 16:00:00+07:00    1
2022-07-31 08:00:00+07:00    1
2022-07-05 12:00:00+07:00    1
2022-07-29 19:00:00+07:00    1
Name: count, Length: 2178, dtype: int64
humid
89.5     62
100.0    60
90.6     59
90.1     57
88.1     56
         ..
45.1      1
48.9      1
46.3      1
49.9      1
43.8      1
Name: count, Length: 554, dtype: int64
light
0.0     4418
4.0      291
1.0      290
2.0      272
5.0      263
        ...
33.0      33
21.0      32
18.0      32
95.0       9
96.0       3
Name: count, Length: 97, dtype: int64
pm10
2.0      887
3.0      714
4.0      657
5.0      626
6.0      537
        ...
110.0      1
79.0       1
82.0       1
50.0       1
56.0       1
Name: count, Length: 61, dtype: int64
pm2.5
1.0     944
2.0     667
0.0     623
3.0     616
4.0     607
       ...
68.0      1
43.0      1
61.0      1
60.0      1
49.0      1
Name: count, Length: 63, dtype: int64
rainfall
0.0     12794
0.3       306
0.6       101
0.9        56
1.4        31
        ...
2.9         1
6.2         1
15.4        1
7.2         1
1.6         1
Name: count, Length: 104, dtype: int64
wind_direct
180.0    2051
45.0     1792
225.0    1781
315.0    1682
0.0      1610
135.0    1571
270.0    1135
157.5     843
90.0      547
202.5     200
247.5     149
67.5       81
292.5      80
22.5       52
337.5      52
112.5       9
Name: count, dtype: int64
wind_speed
0.0     4774
1.4      275
1.6      236
1.3      232
1.5      227
        ...
19.2       1
19.5       1
18.5       1
15.6       1
23.6       1
Name: count, Length: 205, dtype: int64
temp
25.6    201
26.5    201
25.7    184
26.7    179
25.9    179
       ...
20.5      1
41.6      1
43.0      1
42.5      1
44.0      1
Name: count, Length: 286, dtype: int64

In [227]:
for col in test_df.columns :
    
    print(test_df[col].value_counts())

mac
3C71BF18CEA4    437
3C71BF17CDBC    433
807D3AF57920    432
30AEA4F7AE44    432
3C71BF1B1E28    429
3C71BF18EA64    425
3C71BF15DB04    424
3C71BF164F90    401
Name: count, dtype: int64
station_name
โรงเรียนหนองสูงสามัคคีวิทยา_2           437
โรงเรียนบ้านนา                          433
บ้านนาสะแบง_2                           432
โรงเรียนสามเสนนอก(ประชาราษฎร์อนุกูล)    432
โรงเรียนสรรพวิทยาคม                     429
บ้านนา_2                                425
บ้านสำโรงเกียรติ_2                      424
โรงเรียนท่าข้ามวิทยา                    401
Name: count, dtype: int64
tambon_code
490706    437
550404    433
380704    432
102601    432
630601    429
300903    425
330802    424
860206    401
Name: count, dtype: int64
tambon_namt
หนองสูงเหนือ    437
สถาน            433
นาสะแบง         432
ดินแดง          432
แม่สอด          429
กำปัง           425
บักดอง          424
ท่าข้าม         401
Name: count, dtype: int64
amphur_code
4907    437
5504    433
3807    432
1026    432
6306    429
3009    425
3308    424
8602    401
Name: count, dtype: int64
amphur_namt
หนองสูง    437
นาน้อย     433
ศรีวิไล    432
ดินแดง     432
แม่สอด     429
โนนไทย     425
ขุนหาญ     424
ท่าแซะ     401
Name: count, dtype: int64
province_code
49    437
55    433
38    432
10    432
63    429
30    425
33    424
86    401
Name: count, dtype: int64
province_namt
มุกดาหาร         437
น่าน             433
บึงกาฬ           432
กรุงเทพมหานคร    432
ตาก              429
นครราชสีมา       425
ศรีสะเกษ         424
ชุมพร            401
Name: count, dtype: int64
latitude
16.494229    437
18.241106    433
18.142499    432
13.777972    432
16.712990    429
15.112831    425
14.533026    424
10.579849    401
Name: count, dtype: int64
longitude
104.350891    437
100.690577    433
103.806521    432
100.569662    432
98.573417     429
102.052114    425
104.495172    424
99.113146     401
Name: count, dtype: int64
time
2022-07-31 09:00:00+07:00    8
2022-07-31 03:00:00+07:00    8
2022-07-29 03:00:00+07:00    8
2022-07-29 05:00:00+07:00    7
2022-07-31 14:00:00+07:00    7
                            ..
2022-05-13 18:00:00+07:00    1
2022-05-13 23:00:00+07:00    1
2022-05-02 22:00:00+07:00    1
2022-07-20 22:00:00+07:00    1
2022-06-04 17:00:00+07:00    1
Name: count, Length: 1684, dtype: int64
humid
88.3    19
89.2    19
94.8    18
88.8    17
97.7    17
        ..
53.5     1
52.1     1
64.8     1
49.1     1
59.8     1
Name: count, Length: 511, dtype: int64
light
0.0     1086
1.0       81
2.0       78
4.0       77
3.0       74
        ...
20.0       6
26.0       6
16.0       5
95.0       3
96.0       1
Name: count, Length: 97, dtype: int64
pm10
2.0     231
3.0     165
4.0     161
6.0     150
5.0     147
7.0     102
1.0     101
8.0      96
9.0      78
10.0     67
11.0     54
14.0     48
13.0     46
12.0     41
16.0     34
15.0     28
17.0     21
19.0     17
18.0     15
21.0     15
20.0     12
22.0      9
23.0      8
25.0      6
29.0      5
32.0      4
28.0      4
31.0      3
36.0      3
30.0      2
27.0      2
78.0      1
39.0      1
52.0      1
66.0      1
48.0      1
38.0      1
34.0      1
24.0      1
54.0      1
37.0      1
49.0      1
55.0      1
Name: count, dtype: int64
pm2.5
1.0     242
2.0     165
0.0     153
3.0     143
4.0     137
5.0     130
6.0     100
7.0      87
8.0      77
9.0      65
10.0     59
12.0     48
13.0     46
11.0     38
14.0     33
15.0     27
16.0     25
19.0     18
17.0     14
18.0     13
20.0     10
22.0      9
21.0      7
27.0      6
26.0      6
25.0      4
28.0      3
34.0      3
24.0      3
29.0      2
52.0      2
36.0      2
23.0      1
35.0      1
31.0      1
32.0      1
46.0      1
76.0      1
51.0      1
48.0      1
64.0      1
30.0      1
Name: count, dtype: int64
rainfall
0.0     3208
0.3       72
0.6       26
0.9       17
1.2        8
1.7        5
2.5        4
3.1        4
5.9        4
2.0        3
0.8        3
2.2        3
3.4        3
7.0        3
2.6        3
2.8        2
1.1        2
1.4        2
2.3        2
5.1        2
1.8        2
4.0        2
4.2        2
2.3        2
7.8        1
14.2       1
10.3       1
1.9        1
3.9        1
19.0       1
10.0       1
8.6        1
6.1        1
8.7        1
8.4        1
13.2       1
9.7        1
5.8        1
3.5        1
15.2       1
1.7        1
10.4       1
18.7       1
3.3        1
17.3       1
8.6        1
4.5        1
11.1       1
3.4        1
5.3        1
7.6        1
10.9       1
9.3        1
Name: count, dtype: int64
wind_direct
180.0    563
45.0     452
135.0    424
225.0    421
315.0    384
0.0      376
270.0    302
157.5    219
90.0     123
202.5     47
247.5     33
22.5      18
67.5      17
292.5     17
337.5     16
112.5      1
Name: count, dtype: int64
wind_speed
0.0        1164
1.4          67
1.7          67
1.2          59
1.9          58
           ...
15.7          1
16438.4       1
13.0          1
24.8          1
17.7          1
Name: count, Length: 162, dtype: int64

In [228]:
train_df.isna().sum()

mac                 0
station_name        0
tambon_code         0
tambon_namt         0
amphur_code         0
amphur_namt         0
province_code       0
province_namt       0
latitude            0
longitude           0
time                0
humid               0
light               0
pm10             6794
pm2.5            6794
rainfall            0
wind_direct         0
wind_speed          0
temp                1
dtype: int64

In [229]:
train_df.columns

Index(['mac', 'station_name', 'tambon_code', 'tambon_namt', 'amphur_code',
       'amphur_namt', 'province_code', 'province_namt', 'latitude',
       'longitude', 'time', 'humid', 'light', 'pm10', 'pm2.5', 'rainfall',
       'wind_direct', 'wind_speed', 'temp'],
      dtype='object')

In [230]:
train_df = train_df.drop(columns = ['mac', 'station_name', 'tambon_code', 'tambon_namt', 'amphur_code','amphur_namt', 'province_code', 'province_namt' ,'pm10' , 'pm2.5'])
test_df = test_df.drop(columns = ['mac', 'station_name', 'tambon_code', 'tambon_namt', 'amphur_code','amphur_namt', 'province_code', 'province_namt','pm10' , 'pm2.5'])

In [231]:
train_df

,latitude,longitude,time,humid,light,rainfall,wind_direct,wind_speed,temp
0,15.112831,102.052114,2022-07-20 15:00:00+07:00,70.6,59.0,0.0,45.0,4.3,32.6
1,15.112831,102.052114,2022-05-16 09:00:00+07:00,62.3,76.0,0.0,45.0,1.9,37.9
2,15.112831,102.052114,2022-06-26 19:00:00+07:00,90.3,0.0,0.0,135.0,3.2,26.4
3,15.112831,102.052114,2022-07-16 04:00:00+07:00,91.7,0.0,0.0,157.5,0.0,25.6
4,15.112831,102.052114,2022-05-30 08:00:00+07:00,59.1,71.0,0.0,180.0,2.3,36.2
...,...,...,...,...,...,...,...,...,...
13630,16.494229,104.350891,2022-06-14 01:00:00+07:00,97.9,0.0,4.2,0.0,0.0,23.5
13631,16.494229,104.350891,2022-05-03 02:00:00+07:00,80.6,0.0,0.0,135.0,2.9,19.3
13632,16.494229,104.350891,2022-05-19 06:00:00+07:00,87.9,37.0,0.0,45.0,3.0,24.5
13633,16.494229,104.350891,2022-06-15 02:00:00+07:00,89.9,0.0,0.0,315.0,0.0,27.3
13634,16.494229,104.350891,2022-06-05 18:00:00+07:00,66.3,43.0,0.0,45.0,0.8,33.5

In [232]:
test_df

,latitude,longitude,time,humid,light,rainfall,wind_direct,wind_speed
id,,,,,,,,
1,15.112831,102.052114,2022-05-23 04:00:00+07:00,88.9,1.0,0.0,180.0,2.3
2,15.112831,102.052114,2022-05-12 16:00:00+07:00,85.0,40.0,0.3,135.0,1.5
3,15.112831,102.052114,2022-06-20 03:00:00+07:00,88.9,7.0,0.0,157.5,0.0
4,15.112831,102.052114,2022-07-13 13:00:00+07:00,81.9,66.0,0.0,135.0,0.2
5,15.112831,102.052114,2022-07-05 09:00:00+07:00,64.9,71.0,0.0,225.0,2.4
...,...,...,...,...,...,...,...,...
3409,16.494229,104.350891,2022-06-05 03:00:00+07:00,87.0,0.0,0.0,315.0,0.0
3410,16.494229,104.350891,2022-05-26 09:00:00+07:00,71.7,81.0,0.0,180.0,3.1
3411,16.494229,104.350891,2022-05-21 22:00:00+07:00,86.5,2.0,0.0,0.0,0.6
3412,16.494229,104.350891,2022-07-21 01:00:00+07:00,96.5,0.0,0.0,0.0,0.0
3413,16.494229,104.350891,2022-06-20 11:00:00+07:00,63.8,87.0,0.0,0.0,0.4

In [233]:
print(train_df.iloc[0]['time'].split(' ')[1].split(':'))

['15', '00', '00+07', '00']

In [234]:
def add_features (row) :
    
    year , month , day = row['time'].split(' ')[0].split('-')
    hour = row['time'].split(' ')[1].split(':')[0]
    
    year , month , day , hour = int (year) , int (month) , int (day) , int (hour) 
    
    row['month'] = month
    row['day'] = day
    row['hour'] = hour 
    
    return row

In [235]:
train_df = train_df.apply(add_features , axis = 1).drop(columns=['time' , 'rainfall' , 'wind_speed' , 'wind_direct'])
test_df = test_df.apply(add_features , axis = 1).drop(columns=['time' , 'rainfall' , 'wind_speed' , 'wind_direct'])

In [236]:
train_df

        latitude   longitude  humid  light  temp  month  day  hour
0      15.112831  102.052114   70.6   59.0  32.6      7   20    15
1      15.112831  102.052114   62.3   76.0  37.9      5   16     9
2      15.112831  102.052114   90.3    0.0  26.4      6   26    19
3      15.112831  102.052114   91.7    0.0  25.6      7   16     4
4      15.112831  102.052114   59.1   71.0  36.2      5   30     8
...          ...         ...    ...    ...   ...    ...  ...   ...
13630  16.494229  104.350891   97.9    0.0  23.5      6   14     1
13631  16.494229  104.350891   80.6    0.0  19.3      5    3     2
13632  16.494229  104.350891   87.9   37.0  24.5      5   19     6
13633  16.494229  104.350891   89.9    0.0  27.3      6   15     2
13634  16.494229  104.350891   66.3   43.0  33.5      6    5    18

[13635 rows x 8 columns]

In [237]:
test_df

       latitude   longitude  humid  light  month  day  hour
id
1     15.112831  102.052114   88.9    1.0      5   23     4
2     15.112831  102.052114   85.0   40.0      5   12    16
3     15.112831  102.052114   88.9    7.0      6   20     3
4     15.112831  102.052114   81.9   66.0      7   13    13
5     15.112831  102.052114   64.9   71.0      7    5     9
...         ...         ...    ...    ...    ...  ...   ...
3409  16.494229  104.350891   87.0    0.0      6    5     3
3410  16.494229  104.350891   71.7   81.0      5   26     9
3411  16.494229  104.350891   86.5    2.0      5   21    22
3412  16.494229  104.350891   96.5    0.0      7   21     1
3413  16.494229  104.350891   63.8   87.0      6   20    11

[3413 rows x 7 columns]

In [238]:
train_df = train_df.fillna(train_df.mean())
test_df = test_df.fillna(test_df.mean())

## Catboost / XGBoost

In [239]:
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split , cross_val_score, KFold
from sklearn.metrics import mean_absolute_error

In [240]:
catboost_model = CatBoostRegressor(n_estimators = 1000 , learning_rate = 0.2, depth = 12 , random_seed = 42 , loss_function = 'MAE')
xgb_model = XGBRegressor(n_estimators= 1000 ,objective = 'reg:absoluteerror' , learning_rate = 0.2 , eval_metric = 'mae' , max_depth = 12 )

In [241]:
cat_scale = 0.6
xgb_scale = 1 - cat_scale

In [242]:
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)

cv_scores = []

train_data = train_df.drop(columns = 'temp') 
label_data = train_df['temp']

for train_index, val_index in kf.split(train_data):
    
    x_train, x_val = train_data.iloc[train_index], train_data.iloc[val_index]
    y_train, y_val = label_data.iloc[train_index], label_data.iloc[val_index]
    
    catboost_model.fit(x_train, y_train , verbose = 500)
    xgb_model.fit(x_train, y_train)
    
    val_predictions = cat_scale * catboost_model.predict(x_val) + xgb_scale * xgb_model.predict(x_val)
    
    mae = mean_absolute_error(y_val, val_predictions)
    cv_scores.append(mae)
    
print("Cross-validation scores:", cv_scores)
print("Average cross-validation score:", np.mean(cv_scores))

0:	learn: 2.7933613	total: 48.8ms	remaining: 48.7s
500:	learn: 0.0997276	total: 14.3s	remaining: 14.3s
999:	learn: 0.0578635	total: 28.6s	remaining: 0us
0:	learn: 2.8031688	total: 41ms	remaining: 41s
500:	learn: 0.0967808	total: 13.9s	remaining: 13.9s
999:	learn: 0.0575934	total: 27.8s	remaining: 0us
0:	learn: 2.8017790	total: 33ms	remaining: 33s
500:	learn: 0.1027215	total: 14.1s	remaining: 14s
999:	learn: 0.0588981	total: 27.8s	remaining: 0us
0:	learn: 2.8097295	total: 33.8ms	remaining: 33.8s
500:	learn: 0.1020891	total: 14.3s	remaining: 14.2s
999:	learn: 0.0577184	total: 28.5s	remaining: 0us
0:	learn: 2.7826994	total: 36.1ms	remaining: 36.1s
500:	learn: 0.1006086	total: 14.6s	remaining: 14.5s
999:	learn: 0.0571104	total: 28.9s	remaining: 0us
Cross-validation scores: [0.4692672441670823, 0.4938172814624421, 0.4981068149426521, 0.4759276499779793, 0.4820437340783941]
Average cross-validation score: 0.48383254492571004

In [243]:
submission = pd.read_csv('./submissions/sample_submissions.csv' , index_col='id')

In [244]:
submission

      temp
id
1     25.6
2     30.1
3     24.7
4      NaN
5      NaN
...    ...
3409   NaN
3410   NaN
3411   NaN
3412   NaN
3413   NaN

[3413 rows x 1 columns]

In [245]:
prediction = cat_scale * catboost_model.predict(test_df) + xgb_scale * xgb_model.predict(test_df)

In [246]:
submission['temp'] = prediction

In [247]:
submission.to_csv('./submissions/submission.csv')

## AutoGluon

In [248]:
from autogluon.tabular import TabularPredictor

In [249]:
label = 'temp'

In [250]:
predictor = TabularPredictor(label = label , eval_metric='mae').fit(train_df)

No path specified. Models will be saved in: "AutogluonModels\ag-20240621_144837"
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240621_144837"
=================== System Info ===================
AutoGluon Version:  1.1.0
Python Version:     3.11.7
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22631
CPU Count:          16
Memory Avail:       4.05 GB / 15.28 GB (26.5%)
Disk Space Avail:   491.56 GB / 952.03 GB (51.6%)
===================================================
Train Data Rows:    13635
Train Data Columns: 7
Label Column:       temp
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == float and label-values can't be converted to int).
	Label info (max, min, mean, stddev): (51.1, 17.2, 29.08383, 4.34432)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Problem Type:       regression
Preprocessing data ...
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    4144.08 MB
	Train Data (Original)  Memory Usage: 0.73 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 4 | ['latitude', 'longitude', 'humid', 'light']
		('int', [])   : 3 | ['month', 'day', 'hour']
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 4 | ['latitude', 'longitude', 'humid', 'light']
		('int', [])   : 3 | ['month', 'day', 'hour']
	0.1s = Fit runtime
	7 features in original data used to generate 7 features in processed data.
	Train Data (Processed) Memory Usage: 0.73 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.08s ...
AutoGluon will gauge predictive performance using evaluation metric: 'mean_absolute_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.1, Train Rows: 12271, Val Rows: 1364
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-0.7902	 = Validation score   (-mean_absolute_error)
	0.02s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-0.7556	 = Validation score   (-mean_absolute_error)
	0.02s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMXT ...

[1000]	valid_set's l1: 0.574805
[2000]	valid_set's l1: 0.549
[3000]	valid_set's l1: 0.538698
[4000]	valid_set's l1: 0.533323
[5000]	valid_set's l1: 0.531102
[6000]	valid_set's l1: 0.529472
[7000]	valid_set's l1: 0.527775
[8000]	valid_set's l1: 0.526872
[9000]	valid_set's l1: 0.525883
[10000]	valid_set's l1: 0.525198

	-0.5252	 = Validation score   (-mean_absolute_error)
	4.76s	 = Training   runtime
	0.29s	 = Validation runtime
Fitting model: LightGBM ...

[1000]	valid_set's l1: 0.479642
[2000]	valid_set's l1: 0.458911
[3000]	valid_set's l1: 0.449942
[4000]	valid_set's l1: 0.446808
[5000]	valid_set's l1: 0.444816
[6000]	valid_set's l1: 0.443838
[7000]	valid_set's l1: 0.443561
[8000]	valid_set's l1: 0.443191
[9000]	valid_set's l1: 0.444095

	-0.4428	 = Validation score   (-mean_absolute_error)
	3.91s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: RandomForestMSE ...
	-0.5872	 = Validation score   (-mean_absolute_error)
	1.29s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: CatBoost ...
	-0.4448	 = Validation score   (-mean_absolute_error)
	183.13s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: ExtraTreesMSE ...
	-0.5824	 = Validation score   (-mean_absolute_error)
	0.79s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	-0.5905	 = Validation score   (-mean_absolute_error)
	9.63s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: XGBoost ...
	-0.478	 = Validation score   (-mean_absolute_error)
	2.8s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	-0.664	 = Validation score   (-mean_absolute_error)
	20.75s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: LightGBMLarge ...

[1000]	valid_set's l1: 0.443779
[2000]	valid_set's l1: 0.437808
[3000]	valid_set's l1: 0.434501
[4000]	valid_set's l1: 0.433842
[5000]	valid_set's l1: 0.434214

	-0.4338	 = Validation score   (-mean_absolute_error)
	5.79s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'LightGBMLarge': 0.435, 'CatBoost': 0.304, 'LightGBM': 0.261}
	-0.4233	 = Validation score   (-mean_absolute_error)
	0.04s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 235.67s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240621_144837")

In [251]:
predictor.refit_full()

Refitting models via `predictor.refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix "_FULL" and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `predictor.fit` call.
	To learn more, refer to the `.refit_full` method docstring which explains how "_FULL" models differ from normal models.
Fitting 1 L1 models ...
Fitting model: KNeighborsUnif_FULL ...
	0.02s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: KNeighborsDist_FULL ...
	0.02s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: LightGBMXT_FULL ...
	4.45s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: LightGBM_FULL ...
	2.92s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: RandomForestMSE_FULL ...
	1.25s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: CatBoost_FULL ...
	72.8s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: ExtraTreesMSE_FULL ...
	0.87s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: NeuralNetFastAI_FULL ...
No improvement since epoch 8: early stopping
	8.03s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: XGBoost_FULL ...
	1.5s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: NeuralNetTorch_FULL ...
	17.05s	 = Training   runtime
Fitting 1 L1 models ...
Fitting model: LightGBMLarge_FULL ...
	5.24s	 = Training   runtime
Fitting model: WeightedEnsemble_L2_FULL | Skipping fit via cloning parent ...
	Ensemble Weights: {'LightGBMLarge': 0.435, 'CatBoost': 0.304, 'LightGBM': 0.261}
	0.04s	 = Training   runtime
Updated best model to "WeightedEnsemble_L2_FULL" (Previously "WeightedEnsemble_L2"). AutoGluon will default to using "WeightedEnsemble_L2_FULL" for predict() and predict_proba().
Refit complete, total runtime = 120.93s ... Best model: "WeightedEnsemble_L2_FULL"

{'KNeighborsUnif': 'KNeighborsUnif_FULL',
 'KNeighborsDist': 'KNeighborsDist_FULL',
 'LightGBMXT': 'LightGBMXT_FULL',
 'LightGBM': 'LightGBM_FULL',
 'RandomForestMSE': 'RandomForestMSE_FULL',
 'CatBoost': 'CatBoost_FULL',
 'ExtraTreesMSE': 'ExtraTreesMSE_FULL',
 'NeuralNetFastAI': 'NeuralNetFastAI_FULL',
 'XGBoost': 'XGBoost_FULL',
 'NeuralNetTorch': 'NeuralNetTorch_FULL',
 'LightGBMLarge': 'LightGBMLarge_FULL',
 'WeightedEnsemble_L2': 'WeightedEnsemble_L2_FULL'}

In [252]:
prediction = predictor.predict(test_df)

In [253]:
prediction

id
1       25.661388
2       28.883121
3       24.989866
4       28.953014
5       34.502144
          ...
3409    25.526455
3410    33.647682
3411    26.880888
3412    24.847389
3413    36.173115
Name: temp, Length: 3413, dtype: float32

In [254]:
features_importance = predictor.feature_importance(train_df)
features_importance

Computing feature importance via permutation shuffling for 7 features using 5000 rows with 5 shuffle sets...
	28.36s	= Expected runtime (5.67s per shuffle set)
	20.96s	= Actual runtime (Completed 5 of 5 shuffle sets)

           importance    stddev       p_value  n  p99_high   p99_low
humid        3.008608  0.028522  9.691795e-10  5  3.067336  2.949881
light        1.120235  0.029015  5.395548e-08  5  1.179977  1.060493
day          0.828397  0.006435  4.368714e-10  5  0.841647  0.815148
month        0.610594  0.010056  8.825614e-09  5  0.631300  0.589888
longitude    0.543291  0.009459  1.102242e-08  5  0.562768  0.523815
hour         0.502317  0.008956  1.212358e-08  5  0.520758  0.483875
latitude     0.438465  0.002362  1.010923e-10  5  0.443329  0.433601

In [255]:
features_importance.to_csv('./features/features3class.csv')

In [256]:
prediction.value_counts()

temp
25.661388    1
24.716238    1
25.800224    1
25.158367    1
24.897278    1
            ..
26.603104    1
34.606087    1
24.659466    1
24.332329    1
36.173115    1
Name: count, Length: 3413, dtype: int64

In [257]:
submission_path = './submissions'
prediction.to_csv(f'{submission_path}/submission_refit_pseudolabeling.csv')