# SuperAI Season 4 - Level 1 Hackathon - Soil Water Prediction

## Explore Data

In [1]:
import pandas as pd
import numpy as np

In [3]:
sample_df = pd.read_csv('./datasets/train/set01.csv')

In [4]:
sample_df.head(10)

,index,time,1Air Humidity,1AirTemperature,1LightHigh,1LightLow,11Rain Accumulate (mm),11Rain count,12WindSpeed,13WindDirection,23SoilWC ค.ชื้นดิน,23SoilTemp.อุณหภูมิดิน,23SoilEC,23SoilpH,26N,26P,26K,29SoilTension,flow1
0,01_1,01:00:50.174233+00,97.3,21.8,0.0,9.57,0.0,0.0,0.0,6.0,31.4,23.6,0.11,8.3,21.0,95.0,87.0,23.0,0.0
1,01_2,01:02:51.384714+00,96.6,22.0,0.0,9.81,0.0,0.0,0.0,6.0,31.9,23.6,0.11,8.3,21.0,95.0,87.0,22.0,0.0
2,01_3,01:04:52.127056+00,95.9,22.2,0.0,10.22,0.0,0.0,0.0,5.0,32.4,23.6,0.11,8.3,21.0,95.0,87.0,NaN,0.0
3,01_4,01:06:50.205974+00,95.3,22.4,0.0,10.25,0.0,0.0,0.0,6.0,32.4,23.6,0.11,8.3,21.0,95.0,87.0,22.0,0.0
4,01_5,01:08:50.162332+00,93.8,22.4,0.0,10.45,0.0,0.0,0.0,6.0,31.7,23.6,0.11,8.3,21.0,95.0,87.0,23.0,0.0
5,01_6,01:10:50.226361+00,95.9,22.8,0.0,10.57,0.0,0.0,0.0,2.0,31.4,23.5,0.11,8.3,21.0,95.0,87.0,23.0,0.0
6,01_7,01:12:50.132456+00,95.8,22.7,0.0,10.73,0.0,0.0,0.0,3.0,32.0,23.6,0.11,8.3,NaN,NaN,NaN,23.0,0.0
7,01_8,01:14:50.161975+00,94.9,23.2,0.0,11.07,0.0,0.0,0.0,3.0,32.4,23.6,0.11,8.3,21.0,95.0,87.0,23.0,1.0
8,01_9,01:18:52.085267+00,94.0,23.2,0.0,12.02,0.0,0.0,0.0,2.0,31.4,23.6,0.11,8.3,21.0,95.0,87.0,NaN,1.0
9,01_10,01:20:23.327041+00,93.2,23.5,0.0,12.06,0.0,0.0,0.0,3.0,31.7,23.5,0.11,8.3,21.0,95.0,87.0,23.0,1.0

In [6]:
sample_df.describe()

,1Air Humidity,1AirTemperature,1LightHigh,1LightLow,11Rain Accumulate (mm),11Rain count,12WindSpeed,13WindDirection,23SoilWC ค.ชื้นดิน,23SoilTemp.อุณหภูมิดิน,23SoilEC,23SoilpH,26N,26P,26K,29SoilTension,flow1
count,118.000000,118.000000,118.000000,118.000000,118.0,118.0,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,105.000000,105.000000,105.000000,108.000000,118.000000
mean,56.032203,31.861017,29.988305,26.774831,0.0,0.0,0.184746,3.110169,47.564407,23.437288,0.117203,8.049153,23.666667,101.076190,93.847619,20.657407,0.288136
std,18.067291,4.210306,32.786352,24.354230,0.0,0.0,0.341347,1.600128,15.269939,0.076008,0.010368,0.188447,1.863963,4.449925,4.450110,1.890270,0.454826
min,39.500000,21.800000,0.000000,0.070000,0.0,0.0,0.000000,0.000000,31.100000,23.300000,0.110000,7.600000,21.000000,95.000000,87.000000,18.000000,0.000000
25%,43.925000,30.475000,0.000000,7.350000,0.0,0.0,0.000000,2.000000,37.600000,23.400000,0.110000,7.900000,23.000000,99.000000,92.000000,19.000000,0.000000
50%,47.300000,33.300000,0.000000,11.035000,0.0,0.0,0.000000,3.000000,39.950000,23.400000,0.110000,8.100000,23.000000,99.000000,92.000000,20.000000,0.000000
75%,62.950000,34.500000,65.530000,54.845000,0.0,0.0,0.300000,4.000000,53.300000,23.500000,0.120000,8.200000,24.000000,103.000000,96.000000,23.000000,1.000000
max,97.300000,37.500000,65.530000,65.520000,0.0,0.0,1.500000,7.000000,80.200000,23.600000,0.140000,8.300000,28.000000,112.000000,104.000000,23.000000,1.000000

## AutoGluon